[submodule "ThunderKittens"]
	path = ThunderKittens
	url = https://github.com/MrHuff/ThunderKittens.git
[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/graphcore-research/flash-attention.git
[submodule "qutlass"]
	path = qutlass
	url = https://github.com/graphcore-research/qutlass.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "SageAttention"]
	path = SageAttention
	url = https://github.com/MrHuff/SageAttention.git
	branch = fp4_stuff
